@model ALWADI.Models.client_pament

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>client_pament</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payment_Num)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment_Num)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payment_value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment_value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.payment_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.payment_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.payment_details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.payment_details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.clientNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.clientNavigation.clientId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
