@model ALWADI.Models.Advertisement

@{
    ViewData["Title"] = "Delete";
}

<h3 style="margin-top:10px;"></h3>

<div class="row">
    <div class="col-12">

        <div class="card card-danger border-0">
            <div class="card-header">
                <h3 class="card-title">هل أنت متأكد من حذف المعلومات التالية؟</h3>


                <div class="d-inline">
                    <a asp-action="Index"><i class="fa fa-arrow-left fa-lg"></i> </a>
                </div>

            </div>

            <form asp-action="Delete">
                <input type="hidden" asp-for="id" />
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-5">
                            <div class="text-danger"></div>
                            
                             <div class="form-group ">
                                <label asp-for="client_id" class="control-label"> @Html.DisplayNameFor(model => model.client_id)</label>
                                <input asp-for="clientNavigation.clientname" class="form-control" />
                                <span asp-validation-for="client_id" class="text-danger"></span>
                            </div>


                            <div class="form-group ">
                                <label asp-for="Ads_category_id" class="control-label"> @Html.DisplayNameFor(model => model.Ads_category_id)</label>
                                <input asp-for="categoryNavigation.category_name" class="form-control" />
                                <span asp-validation-for="Ads_category_id" class="text-danger"></span>
                            </div>


                            
                            <div class="form-group ">
                                <label asp-for="URL" class="control-label"> @Html.DisplayNameFor(model => model.URL)</label>
                                <input asp-for="URL" class="form-control" />
                                <span asp-validation-for="URL" class="text-danger"></span>
                            </div>




                        </div>
                        <div class="col-5">

                            <div class="form-group">
                                <label asp-for="Ads_StartDate" class="control-label">@Html.DisplayNameFor(model => model.Ads_StartDate)   </label>
                                <input asp-for="Ads_StartDate" class="form-control" />
                                <span asp-validation-for="Ads_StartDate" class="text-danger"></span>
                            </div>

                         
                            <div class="form-group">
                                <label asp-for="Ads_place" class="control-label">@Html.DisplayNameFor(model => model.Ads_place)</label>
                                <input asp-for="Ads_place" class="form-control" />
                                <span asp-validation-for="Ads_place" class="text-danger"></span>
                            </div>
                            <div class="form-group ">
                                <label asp-for="Ads_profit" class="control-label"> @Html.DisplayNameFor(model => model.Ads_profit)</label>
                                <input asp-for="Ads_profit" class="form-control" />
                                <span asp-validation-for="Ads_profit" class="text-danger"></span>
                            </div>
                            





                        </div>

                        

                        

                    </div>
                </div>
                <div class="card-footer">

                    <input type="submit" value="حذف" class="btn btn-danger" />
                </div>
            </form>

        </div>
    </div>
</div>
