@model IEnumerable<ALWADI.Models.Doctor>

@{
    ViewData["Title"] = "Index";
}






<div class="row" style="margin-top:10px;">
    <div class="col-12">


        <div class="card">

            <div class="card-header">
                <h3 class="card-title">
                    الأطباء


                </h3>
                @*<a class="float-left" asp-action="Create">
                    <i class="fa fa-plus"></i>
                    إنشاء طبيب جديد

                </a>*@
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="dep_table">
                        <thead style="white-space: nowrap;">
                            <tr>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.DoctorName)
                                </th>

                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.DoctorPhone)
                                </th>
                                @*<th style="text-align: right;">
                                    @Html.DisplayNameFor(model => model.DoctorEmail)
                                </th>*@

                                @*<th style="text-align: right;">
                                    @Html.DisplayNameFor(model => model.DoctorGender)
                                </th>*@
                                @*<th style="text-align: right;">
                                    @Html.DisplayNameFor(model => model.DoctorAddrress)
                                </th>*@
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.clincLocation)
                                </th>

                                @*<th style="text-align: right;">
                                    @Html.DisplayNameFor(model => model.DoctorCertificate)
                                </th>*@

                                @*<th style="text-align: right;">
                                    @Html.DisplayNameFor(model => model.DoctorSpecialization)

                                </th>*@

                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.DepartmentNum)
                                </th>


                                @*<th style="text-align: right;">
                                        @Html.DisplayNameFor(model => model.DoctorImg)
                                    </th>*@

                                @*<th style="text-align: right;  width:70%;">
                                    @Html.DisplayNameFor(model => model.WorkExperience)
                                </th>*@

                                @*<th style="text-align: right; width: 70%"></th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="text-align: center; ">
                                        @Html.DisplayFor(modelItem => item.DoctorName)
                                    </td>
                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.DoctorPhone)
                                    </td>
                                    @*<td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.DoctorEmail)
                                    </td>*@

                                    @*<td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.DoctorGender)
                                    </td>

                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.DoctorAddrress)
                                    </td>*@
                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.clincLocationNavigation.location)
                                    </td>

                                    @*<td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.DoctorCertificate)
                                    </td>

                                    <td style="text-align: center;">

                                        @Html.DisplayFor(modelItem => item.DoctorSpecialization)
                                    </td>*@

                                    <td style="text-align: center;  white-space: nowrap;">
                                        @Html.DisplayFor(modelItem => item.DepartmentNumNavigation.DepartmentName)
                                    </td>

                                    @*<td style="text-align: center;">
                                            @Html.DisplayFor(modelItem => item.DoctorImg)
                                        </td>*@

                                    @*<td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.WorkExperience)
                                    </td>*@

                                    @*<td style="text-align: center; white-space: nowrap; ">

                                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.DoctorId">تعديل</a> |
                                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.DoctorId" style="background-color:green;">تفاصيل</a> |
                                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.DoctorId">حذف</a>
                                    </td>*@
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script>
        $(function () {
            $('#dep_table').DataTable({
                "lengthMenu": [[5, 10, 15, 20, 25, -1], [5, 10, 15, 20, 25, "All"]],
                "responsive": true,
                "autoWidth": true,
                "language": {
                    "sProcessing": "جارٍ التحميل...",
                    "sLengthMenu": "أظهر _MENU_ مدخلات",
                    "sZeroRecords": "لم يتم العثور على أية نتائج",
                    "sInfo": "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
                    "sInfoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
                    "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
                    "sInfoPostFix": "",
                    "sSearch": "البحث:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "الأول",
                        "sPrevious": "السابق",
                        "sNext": "التالي",
                        "sLast": "الأخير"
                    }
                }
            });
        });</script>
}

